html {
    font-family: 'Faculty Glyphic', Helvetica, sans-serif;
    background: #e6e883;
}

html,
body {
    margin: 0;
}

.heading-1 {
    text-align: center;
    margin-top: 35px;
    text-shadow: 3px 3px 0 #fff;
}

.inbox {
    max-width: 400px;
    margin: 25px auto;
    background: #ffffe1;
    border-radius: 5px;
    box-shadow: 10px 10px 0 #0000001a;
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e883;
}

.item:last-child {
    border-bottom: 0;
}

input:checked + p {
    background: #fffff0;
    text-decoration: line-through;
}

input[type='checkbox'] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    flex: 1;
    font-size: 15px;
    font-weight: 200;
    border-left: 1px solid #e6e883;
}

.btn-vertical {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Faculty Glyphic', 'helvetica neue';
    padding: 10px;
    background-color: #00000021;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
